.overLayCertificate-background{
    background-color: rgba(0,0,0,0.3);
    width:100%;
    height:100vh;
    cursor: pointer;
    position: fixed;
    top:0;
    left:0;
    z-index:9;
    

}
.overLayCertificate-container{
    background-color:white;
    position: fixed;
    top:100px;
    /* left:0; */
    right:20px;
    /* bottom:0; */
    margin:auto;
    z-index:10;
    /* padding:30px; */
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
}
@media(max-width:600px){
    .overLayCertificate-container{
        width:90%;
    }
}