.middle{
    
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("./community.jpeg");
  height: 350px;
  width:100%;
  background-position: center;
  background-size: cover;
  margin-bottom: 10px;
  margin-top:40px;
  border-radius: 10px;
}

.sticky{
  position:-webkit-sticky;
  position:sticky;
  top:10px;
  background-color:#f7d883;
  margin-bottom: 10px;
}