.overLayComments-background{
    background-color: rgba(0,0,0,0.3);
    width:100%;
    height:100vh;
    cursor: pointer;
    position: fixed;
    top:0;
    left:0;
    z-index:9;
    

}
.overLayComments-container{
    background-color: #17212E;
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    z-index:10;
    /* padding:30px; */
    width: fit-content;
    height: 500px;
    overflow: scroll;
    
    border-radius: 10px;
}
.graph{
    width:400px;
    height: 400px;
}
@media(max-width:600px){
    .overLayComments-container{
        width:90%;
    }
    .graph{
        width:120px;
        height: 120px;
        overflow-x: scroll;
        
        
    }
}