.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Sidebar.css */
.dropdown-enter {
  opacity: 0;
  max-height: 0;
  transition: opacity 500ms ease-out, max-height 500ms ease-out;
}

.dropdown-enter-active {
  opacity: 1;
  max-height: 500px; /* Adjust this value based on your content */
}

.dropdown-exit {
  opacity: 1;
  max-height: 500px; /* Same value as used in .dropdown-enter-active */
  transition: opacity 500ms ease-in, max-height 500ms ease-in;
}

.dropdown-exit-active {
  opacity: 0;
  max-height: 0;
}

.sidebar .active{
  background-color: #F5CF6B;
  color: black;
}
.sidebar .active:hover{
  color: black;
}

@keyframes slide-in {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes progress-bar {
    0% {
        width: 100%;
    }
    100% {
        width: 0%;
    }
}

.animate-slide-in {
    animation: slide-in 0.5s ease-out forwards;
}

.animate-progress-bar {
    animation: progress-bar 4s linear forwards;
}
