/* Basic styles reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; 
    color: #ffffff;
    height: 100vh;
  }
  
  .main-chat-interface {
    position: absolute;
    bottom: 0;
    background-image: linear-gradient(to top, #c8bdea 1%, #ccc3e7 20%, #f2dde1 100%);
    right: 0;
    width: 30%;
    margin: 0 40px 20px 0;
    height: 90%; 
    background-color: #fff; 
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    display: flex;
    flex-direction: column;
  }
  
 .container  h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .container {
    flex: 1;
    height: 100%;
    padding-left: 20px;
    overflow-y: auto; 
}

.message {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    max-width: 80%;}
.message.user {
    background:linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    left: 0;
    align-self: flex-end;}

.message.bot {
    background-image: linear-gradient(-45deg, #FFC796 0%, #FF6B95 100%);
    left: 0;
    align-self: flex-start; 
}
.in-cont {
    display: flex;
    padding: 10px;
    border-top: .5px solid #ddd; 
    margin-bottom: 30px;
}

input[type="text"] {
    flex: 1; 
    padding: 10px;
    outline: none;
    background: none;
    border: none;
    color: white;
    border:2px solid #000000 ;
    border-radius: 10px;
    margin-right: 10px;
}
