@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Times+New+Roman&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+SA:wght@100..400&display=swap');

.bgcolor{
background-color: white ;
background-size: cover;
background-repeat:no-repeat;
background-attachment: fixed;
}

.statbox{
  @apply relative w-[400px] h-[215px] bg-[#fff2fb4c] rounded-[15px] font-sans text-xl overflow-hidden p-10 border border-solid border-black mt-6;
}
.statboxmin{
  @apply relative w-[300px] h-[155px] bg-[#fff2fb4c] rounded-[15px] font-sans text-xl overflow-hidden p-6 border border-solid border-black mt-6;
}
.mobile-menu {
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%);
  background-color: white;
}

.mobile-menu-open {
  transform: translateX(0);
}

.mobile-menu-closed {
  transform: translateX(100%);
}
.loader {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #3498db;
  width: 60px;
  height: 60px;
  
  animation: spin 2s linear infinite;
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.animate-fadeIn {
  animation: fadeIn 2s ease-in-out;
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


body,html{
  background-size: 100vw 100vh;
}

/* Custom styles for mobile sidebar */
.slick-slide>div{
  margin: 0 10px;
}


/* Traning.js */
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.5s forwards;
}